body{
    background: #bdbdbd;
}

.index-body{
    background-image: url("image/rabbit.jpeg");
    background-repeat: no-repeat;
    
}
h1 {
    font-size: 5em;
}
.blog-post {
    width: 800px;
    margin-left: 100px!important;
}
.blog-post p{
    margin: 30px;
}
.blog-post h3{

    padding: 20px 30px;
    background-color:blue;

}
.blog-visited{
    width: 400;
}
#food-header {
    color:red
}

a:visited{
   color: red
}
a:hover {
    color:green;
    text-decoration: none;
    
}
.fas{
margin-left: 10px;
font-size: 30px;
color: orange;
}


.link-class a{
    padding-left: 10px;
    text-decoration: none;
    font-size: 30px;
    border-right: 2px solid black

}
.blog-post-wapper {

 margin: 0px 10px; 
 display: flex;
 flex-direction: column;
 align-items: center;
}
.blog-post-author{
    display: flex;
    flex-direction: none;
    justify-content: space-between;
}
.link-class{
    display: flex;
    justify-content: space-between;
}
.table-class{
    border: 2px solid black
}
table{
    width: 100%;
}
th{
    font-weight: bold;
    font-size: 20px;
}
th{
    font-weight: bold;
    font-size: 20px;
    color: blue;
}
tr{
    text-align: center;
}
tr:nth-child(even){
    background-color: #dddddd;
}
td{
    border: 1px solid black;
    padding: 10px;
}